h1{
  text-align: center;
  padding: 15px;
  color: #FFFFFF;
  font: xx-large 'Times New Roman', Arial;

}
p{
  background-color: rgba(0,123,255,.5);
  margin: 5% 10%;
  padding: 1%;
  border-radius: 15px;
  color: #FFFFFF;
  text-align: center;
}
.container {
  background-color: rgb(0,0,0,0.5);
  width: 800px;
  margin: auto;
}
.regform{
  font-size: x-large;
  width: 420px;
  margin: auto;
  background-color: #36353a ;
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}
form{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0.5;
  border-radius: 10px;
  background-color:  #d8d7e8 ;
  background-position: center;
  width: 40%;
}
form:hover{
  opacity: 1.8;
}
input[type=text], input[type=tel] {
  width: 55%;
  padding: 10px;
  margin: 7px 0 7px 0;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:2.5;
}
img{
  width: 3%;
  height: 3%;
  margin: auto;
}
body{
  background-image:  url("https://media0.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");

}